body {
  margin: 0;
}

.background {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(./img/Rectangle\ 3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  z-index: 0;
}

.wrapper {
  font-family: 'Lato';
  color: #fff;

  display: flex;
  flex-direction: column;

  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  z-index: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 180px;
}

.logo {
  padding: 0px;
  display: flex;
}

.logo2 {
  text-transform: uppercase;
  width: 136px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-left: 10px;
}

.language {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.menu {
  margin-left: 150px;
  margin-right: 100px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.menu-item {
  text-decoration: none;
  margin-right: 20px;
  color: #fff;
}

.menu-item:hover {
  font-weight: 700;
}

.flag {
  margin-left: 15px;
}

.en {
  margin: 0 15px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.login {
  color: #fff;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  box-sizing: border-box;

  padding: 10px 20px;
  text-transform: uppercase;
  outline: none;
}

.login:hover {
  font-weight: 700;
}

.сloudbudget {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

.text p {
  margin: 0;
}

.sign {
  background: #FFFFFF;
  border:0px;
  border-radius: 6px;
  color: #ED4C5C;
  text-transform: uppercase;
  outline:none;

  box-sizing: border-box;
  margin-top: 70px;
  width: 160px;
  height: 50px;
}

.sign:hover {
  font-weight: 700;
}